{{ subnet }}.55  mother-lb
{{ subnet }}.58  mother-nfs
{{ subnet }}.50 mother-server-0
{{ subnet }}.51 mother-server-1
{{ subnet }}.52 mother-server-2
{{ subnet }}.60 mother-agent-0
{{ subnet }}.61 mother-agent-1
{{ subnet }}.62 mother-agent-2
{{ subnet }}.63 mother-agent-3
{{ subnet }}.64 mother-agent-4
{{ subnet }}.1 repo.big-bang{{ domain }}